django
djangorestframework
djangorestframework-simplejwt
django-allauth
dj-rest-auth
bleach
Pillow
python-slugify
django-taggit
django-filter
django-haystack
whoosh
django-ratelimit
django-mptt
stripe
dj-stripe
psycopg2-binary
django-environ
dj-database-url
boto3
django-storages
redis
django-redis
celery
django-anymail
django-cors-headers
pydantic
django-jazzmin
pytest-django
factory-boy
faker
coverage
black
flake8
django-debug-toolbar